<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>clickED - Teacher</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Parse -->
    <script src="http://www.parsecdn.com/js/parse-1.6.14.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div ng-app="myApp" ng-controller="QuestionController">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">clickED</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="cursor:pointer" class="class-selection" ng-repeat="f in filters track by $index">
                        <a style="font-size:20px" ng-click="changeFilt(f)">{{f.name}}</a>
                    </li>
                    <!--
                    <li>
                        <a href="classes.html">Classes</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/green-row.png')">
        <div class="container">
            <div style="padding: 20px"class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <!-- <div class="site-heading">  -->
                     <div style="text-align:center"class="site-heading-clicked">
                        <h1> </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="btn-group" data-toggle="buttons">
                  <label ng-click='viewAnswered()'class="btn btn-default active">
                    <input type="radio" ng-model="value" value="foo" ng-change='newValue(value)' name="options" id="option1" checked> Unanswered
                  </label>
                  <label ng-click='viewUnanswered()' class="btn btn-default">
                    <input type="radio" name="options" id="option2"> Answered
                  </label>
                </div>
                
                <button style="float: right" ng-click="refresh()" class="btn btn"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                <div class="well" ng-repeat="q in questions track by $index">
                    <div>
                        <h3 class="post-title">
                            {{ q.txt }}
                        </h3>
                    </div>
                    <p class="post-meta">Posted by <span href="#">{{q.usr}}</span> at {{q.tim}} on {{q.dat}}</p>
                    <!--<input style="width:100%" type="text" placeholder="Send a response" name="teacher_response"></input>-->
                </div>

            </div>
        </div>
    </div>
</div>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; clickED 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- javascript for parse -->
    <script>
        var app = angular.module('myApp',[]);

        Parse.initialize("3r4Ojai6mYESGymkDVf48wzZDIuBPaF9J0CHCCS7", "I2IBiCAt0Tf0lrXiX8MoMvpwbzIEyjz3Td8GrLYC");


        window.onload = function() {
            setTimeout(function () {
                location.reload();
            }, 20000);
        }
 
        app.controller('QuestionController', ['$scope', function($scope) {
            $scope.teacherID = 12345; //undo hardcode later
            var showAll = [];
            showAll.name = "All Classes";
            showAll.id = -1;
            //showAll.answered = true;
            $scope.curFilt = showAll; //default show all classes
            $scope.answered = true; //only show unanswered


            $scope.refresh = function (){
                getQuestions();
            }          

            $scope.changeFilt = function(filt) {
                $scope.curFilt = filt;
                $scope.questions = [];
                for (var i=0; i < $scope.allQuestions.length; i++){
                    var question = $scope.allQuestions[i];

                    console.log(filt.id);
		    console.log(question.cc);
                    if(question.cc === filt.id || filt.id === -1){
                        if($scope.answered === question.answered) {
                            $scope.questions.push(question);
                        }
                    }
                    
                }
                //$scope.$apply();
            }
  

            var Class = Parse.Object.extend("Class");
            var query2 = new Parse.Query(Class);
            $scope.filters=[];
            $scope.filters.push(showAll);
            query2.find({
                success: function(classes) {
                for (var i=0; i < classes.length; i++){
                    if(true) {//classes[i].get("TeacherID") === $scope.teacherID){
                        var result = [];
                        result.name = classes[i].get("ClassName");
                        result.id = classes[i].id;
                        $scope.filters.push(result);
                    }
                }
                $scope.$apply();

                },
                error: function(error) {
                    console.log('error');
                    alert("Error: " + error.code + " " + error.message);
                }
            });

            var getQuestions = function() {

                var Question = Parse.Object.extend("Question");
                var query = new Parse.Query(Question);
                query.descending("TimeSent");
                $scope.allQuestions=[];
                $scope.questions=[];

                query.find({
                  success: function(results) {
                    for (var i=0; i < results.length; i++){
                        var result = [];
                        result.txt = results[i].get("Content");
                        result.usr = results[i].get("MessageSender");
                        result.tim = results[i].get("TimeSent");
                        result.dat = results[i].get("DateSent");
                        result.cc = results[i].get("ClassID");
                        result.answered = results[i].get("Addressed");
    		            console.log(result.cc);
                        $scope.allQuestions.push(result);
                        console.log($scope.allQuestions[i]);
                        /*if(result.cc === 17061 || $scope.curFilt.id === -1){
                            if($scope.answered === result.answered) {
                                console.log("answered: " + result.answered);
                                $scope.questions.push(result);
                            }
                        }*/
                        $scope.changeFilt($scope.curFilt);
                        
                    }
                    console.log($scope.questions);
                    $scope.$apply();

                  },
                  error: function(error) {
                    console.log('error');
                    alert("Error: " + error.code + " " + error.message);
                  }
                });
                console.log($scope.questions);
            };
            getQuestions();



            var changeView = function(answered) {
                $scope.answered = answered;
                console.log("changeview " + answered);
                
                $scope.questions = [];
                $scope.changeFilt($scope.curFilt);
                //$scope.$apply();
            }
            $scope.viewUnanswered = function() {
                console.log("false");
                changeView(false);
            }
            $scope.viewAnswered = function() {
                console.log("true");
                changeView(true);
            }  

        }]);

        

    </script>
    

</body>

</html>
