<!doctype html>
<!--Defined everything in side the html tag to be an angular view template with the
controller named MainControllerP4.-->
<html ng-app="cs194hApp" ng-controller="MainController">
    <head>
            <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{main.title || "clickED - Teacher"}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Parse -->
    <script src="http://www.parsecdn.com/js/parse-1.6.14.min.js"></script>

    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!--Include the main controller (MainControllerP4) -->
    <script src="mainController.js"></script>
    <!--Include the controllers and models for all the view templates we are using-->
    <script src="loginController.js"></script>
    <link rel="stylesheet" type="text/css" href="login.css" />

    <script src="questionsController.js"></script>
    <!--
    <link rel="stylesheet" type="text/css" href="components/states/states.css" />
        -->
    </head>
    <body>
        <!--Use ng-if to decide to include these elements. Current implementation only
            displays one at a time, but other implementations of the controller need
            not necessarily do this-->
            
        <div ng-if="(container.successUser)" ng-controller="QuestionsController"> <!-- ng-include:questions.html -->
<div>

<div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">clickED</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="cursor:pointer" class="class-selection" ng-repeat="f in filters track by $index">
                        <a style="font-size:20px" ng-click="changeFilt(f)">{{f.name}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/green-row.png')">
        <div class="container">
            <div style="padding: 10px"class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <!-- <div class="site-heading">  -->
                     <div style="text-align:center"class="site-heading-clicked">
                        <h1> </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="btn-group" data-toggle="buttons">
                  <label ng-click='viewUnanswered()'class="btn btn-default active">
                    <input type="radio" ng-model="value" value="foo" ng-change='newValue(value)' name="options" id="option1" checked> Unanswered
                  </label>
                  <label ng-click='viewAnswered()' class="btn btn-default">
                    <input type="radio" name="options" id="option2"> Answered
                  </label>
                  
                </div>
                
                <div class="well" ng-repeat="q in questions track by $index">
                    <div>
                        <h3 class="post-title">
                            {{ q.txt }}
                            <!--<span style="float: right" class="glyphicon glyphicon-arrow-up"> 7 </span>-->
                            <button ng-click="tryAddLike()" style="float: right; background-color: transparent; padding: 0; border:none; background:none; font-size: 18px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span>{{q.numLiked}}</button>
                        </h3>
                    </div>
                    <p class="post-meta">Posted by <span href="#">{{q.usr}}</span> at {{q.tim}} on {{q.dat}}
                        <button style="float: right" ng-hide="q.answered" ng-click="addressQuestion(q)" class="btn btn">Mark As Addressed</button>
                    </p>
                    <!--<input style="width:100%" type="text" placeholder="Send a response" name="teacher_response"></input>-->
                </div>

            </div>
        </div>
    </div>
</div>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; clickED 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</div>
        </div>
        <div ng-if="(!container.successUser)" ng-controller="LoginController">
         <!--ng-include"'login.html'"-->
         <div>

<div>

    <div class="form">
      
      <ul class="tab-group">
        <li ng-class="logIn"><a ng-click="logInTab()">Log In</a></li>
        <li ng-class="signUp"><a ng-click="signUpTab()">Sign Up</a></li>

        <!--
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
        -->
      </ul>
      
      <div class="tab-content">

        <div ng-if="userSignIn">   
          <h1>Welcome Back!</h1>
          
          <!--<form action="/" method="post">-->
          
            <div class="field-wrap">
            <input type="text" placeholder="Email Address" required autocomplete="off" ng-model="main.emailAddr"/>
          </div>
          
          <div class="field-wrap">
            <input type="password" placeholder="Password" required autocomplete="off" ng-model="main.password"/>
          </div>
          
          <p style="display:none" class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button ng-click="logInUser()" class="button button-block"/>Log In</button>
          
          <!--</form>-->

        </div>

        <div ng-if="!userSignIn">   
          <h1>Sign Up for clickED!</h1>
          
          <!--<form action="/" method="post">-->
          
          <div class="top-row">
            <div class="field-wrap">
              <input type="text" placeholder="First Name" required autocomplete="off" ng-model="main.firstName"/>
            </div>
        
            <div class="field-wrap">
              <input type="text" placeholder="Last Name" required autocomplete="off" ng-model="main.lastName"/>
            </div>
          </div>

          <div class="field-wrap">
            <input type="text" placeholder="Email Address" required autocomplete="off" ng-model="main.emailAddr"/>
          </div>
          
          <div class="field-wrap">
            <input type="password" placeholder="Password" required autocomplete="off" ng-model="main.password"/>
          </div>

          <div class="field-wrap" style="display:none">
            <input type="password" placeholder="Confirm Password" required autocomplete="off" ng-model="main.passwordConfirm"/>
          </div>
          
          <button ng-click="signUpUser()" class="button button-block"/>Get Started</button>
          
          <!--</form>-->

        </div>
        
      </div><!-- tab-content -->
      
    </div> <!-- /form --> 

    <!-- Footer --><!--
    <footer>
        <p class="copyright text-muted">Copyright &copy; clickED 2016</p>
    </footer>-->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

<!-- can re-include later
     <script>
//Array of images which you want to show: Use path you want.
var images=new Array('img/home-bg.jpg','img/contact-bg.jpg');
var nextimage=0;
doSlideshow();

function doSlideshow(){
    if(nextimage>=images.length){nextimage=0;}
    $('#background')
    .css('background-image','url("'+images[nextimage++]+'")')
    .fadeIn(100,function(){
        setTimeout(doSlideshow,10000);
    });
}
</script>-->
    

</div>

        </div>
    </body>
</html>