<div>

<div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">clickED</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="cursor:pointer" class="class-selection" ng-repeat="f in filters track by $index">
                        <a style="font-size:20px" ng-click="changeFilt(f)">{{f.name}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/green-row.png')">
        <div class="container">
            <div style="padding: 20px"class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <!-- <div class="site-heading">  -->
                     <div style="text-align:center"class="site-heading-clicked">
                        <h1> </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="btn-group" data-toggle="buttons">
                  <label ng-click='viewUnanswered()'class="btn btn-default active">
                    <input type="radio" ng-model="value" value="foo" ng-change='newValue(value)' name="options" id="option1" checked> Unanswered
                  </label>
                  <label ng-click='viewAnswered()' class="btn btn-default">
                    <input type="radio" name="options" id="option2"> Answered
                  </label>
                  <div> <!-- LOG IN HERE (MOVE LATER) -->
                    <label>{{showThis}}: <input type="text" ng-model="wordsIn"> <input type="text" ng-model="passIn"></label>
                    <button ng-click="logIn(wordsIn,passIn)">Log in!</button>
                </div>
                </div>

                <div class="well" ng-repeat="q in questions track by $index">
                    <div>
                        <h3 class="post-title">
                            {{ q.txt }}
                            <!--<span style="float: right" class="glyphicon glyphicon-arrow-up"> 7 </span>-->
                            <button style="float: right; background-color: transparent; padding: 0; border:none; background:none; font-size: 18px" type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span>4</button>
                        </h3>
                    </div>
                    <p class="post-meta">Posted by <span href="#">{{q.usr}}</span> at {{q.tim}} on {{q.dat}}
                        <button style="float: right" ng-hide="q.answered" ng-click="addressQuestion(q)" class="btn btn">Mark As Addressed</button>
                    </p>
                    <!--<input style="width:100%" type="text" placeholder="Send a response" name="teacher_response"></input>-->
                </div>

            </div>
        </div>
    </div>
</div>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; clickED 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</div>
